/* Popup container */
.popup {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color:rgb(74, 73, 73);;
    color: #696969;
    margin: 0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    max-width: 500px;
    height:auto;
    font-family: Arial, sans-serif;
    text-align: center;
    transition: popup 0.5s ease, transform 1s ease;
}

.popup p {
    margin-bottom: 15px;
    color: white;
    font-size: 16px;
    line-height: 1.5;
}

.popup strong {
    color: #F44336;
    font-size: 20px;
}

/* Image inside popup */
.popup-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Styling for the link */
.popup .button {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.popup-link {
    display: inline-block;
    background-color: #0090C5;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.popup-link:hover {
    background-color: #3a94b4;
    transition: background-color 0.5s ease, transform 1s ease-in-out;
}

/* Close button style - positioned outside the popup, next to it */
.close-btn-btn {
    position: absolute; 
    color: white;
    top: -3%;
    right: 1%;
    font-size: 14px;
    width: 5px;
    height: 60px;
    border-radius: 100%;
    background-color: transparent;
    transition: close-btn-btn 0.3s, transform 0.3s ease-in-out;
}

.close-btn-btn:hover {
    background-color: transparent;
    transform: scale(1.1);
}

/* Font Awesome icon */
.fas.fa-times {
    font-size: 24px;
}

/* Media Query for Small Screens (Mobile) */
@media (max-width: 600px) {
    .popup {
        bottom: 0; /* Adjust bottom positioning for small screens */
        left: 0; /* Reduce left spacing */
        max-width: 100%; /* Allow popup to take up more width on smaller screens */
        padding: 15px; /* Reduce padding */
        border-radius: 8px 8px 0 0;
    }

    .popup p {
        font-size: 14px; /* Smaller text for mobile */
    }

    .popup strong {
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    .popup-link {
        font-size: 14px; /* Adjust button font size */
        padding: 6px 8px; /* Adjust padding for buttons */
    }

    .close-btn-btn {
        color: white;
        top: -20%;
        right: 40%;
        font-size: 16px;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: rgb(0, 0, 0, 0.7);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: close-btn-btn 0.8s, transform 1s ease-in-out;
    }

    .close-btn-btn:hover {
        color: rgb(74, 73, 73);
        background-color: none;
    }

    .popup-image {
        border-radius: 3px; /* Reduce border-radius for smaller screens */
    }
}